{% extends 'base.html.twig' %}

{% block title %}Liste des jokes{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('../assets/css/joke.css') }}">{% endblock %}

{% block body %}
    <h1>Toutes les jokes</h1>

    <div id="gallery" >
        <div class="slider">
            {% for joke in jokes %}
            <div class="col-md-4 col-sm-6 portfolio-item thumb-post">
                <div class="portfolio-caption">
                    <h4>{{ joke.Content }}</h4>
                    <blockquote>{{ joke.Author }}</blockquote>
                    <blockquote>{{ joke.Date ? joke.Date|date('Y-m-d') : '' }}</blockquote>
                </div>
                <div>
                    <a class="btn joke-button-see" href="{{ path('joke_show', {'id': joke.id}) }}">voir</a>
                    <a class="btn joke-button-edit" href="{{ path('joke_edit', {'id': joke.id}) }}">modifier</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="gallery-next"></div>
        <div class="gallery-previous"></div>

    </div>


    {#<div class="row">
        {% for joke in jokes %}
            <div class="col-md-4 col-sm-6 portfolio-item thumb-post">
                <div class="portfolio-caption">
                    <h4>{{ joke.Content }}</h4>
                    <blockquote>{{ joke.Author }}</blockquote>
                    <blockquote>{{ joke.Date ? joke.Date|date('Y-m-d') : '' }}</blockquote>
                </div>
                <div>
                    <a class="btn joke-button-see" href="{{ path('joke_show', {'id': joke.id}) }}">voir</a>
                    <a class="btn joke-button-edit" href="{{ path('joke_edit', {'id': joke.id}) }}">modifier</a>
                </div>
            </div>



        #}{#{% else %}
            <tr>
                <td colspan="5">aucune joke déposée :(</td>
            </tr>
        {% endfor %}#}{#
    </div>#}

    <a class="btn joke-button-add" href="{{ path('joke_new') }}">Ajouter une joke</a>
{% endblock %}

